.otp-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .otp-box {
    width: 600px;
    padding: 20px;
    background-color: whitesmoke; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .otp-box h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .otp-box form input {
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
     background-color: lavender;
    border: 1px solid lavenderblush;
    border-radius: 4px;
  }
  
  .otp-box form button {
    width: 50%;
    padding: 20px;
    border: none;
    margin-left: 140px;
    border-radius: 4px;
    background-color: lightslategrey; 
    color:whitesmoke;
    cursor: pointer;
  }
  
  .otp-box form button:hover {
    background-color: lightblue; 
  }